nodered_rc_car.json
[{"id":"a2b2e1f4.b71cb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"781d890f.f0db68","type":"ui_button","z":"a2b2e1f4.b71cb","name":"","group":"1e906b9f.3e6a34","order":0,"width":0,"height":0,"passthru":false,"label":"FORWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"forward","payloadType":"str","topic":"","x":110,"y":120,"wires":[["eadbdcb0.5d5a5"]]},{"id":"2c047940.ec2fd6","type":"ui_button","z":"a2b2e1f4.b71cb","name":"","group":"1e906b9f.3e6a34","order":0,"width":0,"height":0,"passthru":false,"label":"BACKWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"backward","payloadType":"str","topic":"","x":110,"y":180,"wires":[["c4f50c08.793df"]]},{"id":"405b9645.92c148","type":"ui_button","z":"a2b2e1f4.b71cb","name":"","group":"1e906b9f.3e6a34","order":0,"width":0,"height":0,"passthru":false,"label":"LEFTWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"left","payloadType":"str","topic":"","x":110,"y":240,"wires":[["cb03b7dc.ace4a8"]]},{"id":"cbeca4d5.09aab8","type":"ui_button","z":"a2b2e1f4.b71cb","name":"","group":"1e906b9f.3e6a34","order":0,"width":0,"height":0,"passthru":false,"label":"RIGHTWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"right","payloadType":"str","topic":"","x":120,"y":300,"wires":[["1face021.950b9"]]},{"id":"8ac5cec9.49fec","type":"mosca in","z":"a2b2e1f4.b71cb","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":60,"wires":[[]]},{"id":"eadbdcb0.5d5a5","type":"mqtt out","z":"a2b2e1f4.b71cb","name":"","topic":"forwardButton/esp32","qos":"2","retain":"","broker":"156192e0.117f9d","x":380,"y":120,"wires":[]},{"id":"c4f50c08.793df","type":"mqtt out","z":"a2b2e1f4.b71cb","name":"","topic":"backwardButton/esp32","qos":"2","retain":"","broker":"156192e0.117f9d","x":380,"y":180,"wires":[]},{"id":"cb03b7dc.ace4a8","type":"mqtt out","z":"a2b2e1f4.b71cb","name":"","topic":"leftButton/esp32","qos":"2","retain":"","broker":"156192e0.117f9d","x":360,"y":240,"wires":[]},{"id":"1face021.950b9","type":"mqtt out","z":"a2b2e1f4.b71cb","name":"","topic":"rightButton/esp32","qos":"2","retain":"","broker":"156192e0.117f9d","x":370,"y":300,"wires":[]},{"id":"c825acaf.55866","type":"ui_button","z":"a2b2e1f4.b71cb","name":"","group":"1e906b9f.3e6a34","order":0,"width":0,"height":0,"passthru":false,"label":"STOPWARD","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":110,"y":360,"wires":[["8a2fb23f.4cd2d"]]},{"id":"8a2fb23f.4cd2d","type":"mqtt out","z":"a2b2e1f4.b71cb","name":"","topic":"stopButton/esp32","qos":"2","retain":"","broker":"156192e0.117f9d","x":370,"y":360,"wires":[]},{"id":"9d81cab1.8072b8","type":"ui_text","z":"a2b2e1f4.b71cb","group":"1e906b9f.3e6a34","order":5,"width":0,"height":0,"name":"","label":"Console:","format":"{{msg.payload}}","layout":"col-center","x":340,"y":420,"wires":[]},{"id":"d742495f.cf9198","type":"mqtt in","z":"a2b2e1f4.b71cb","name":"","topic":"console/esp32","qos":"2","datatype":"auto","broker":"bee1fe77.f51bf","x":110,"y":420,"wires":[["9d81cab1.8072b8"]]},{"id":"1e906b9f.3e6a34","type":"ui_group","z":"","name":"Default","tab":"f1be3ea3.ae38a","disp":false,"width":"6","collapse":false},{"id":"156192e0.117f9d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bee1fe77.f51bf","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1be3ea3.ae38a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]